.App {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
#square {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 75vw;
  border: solid blue 2px;
  justify-content: space-between;
  justify-content: center;
}
#square div {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border: solid green 2px;
  width: fit-content;
}
#square div div {
  border-radius: 5px 5px 0 0;
  align-items: center;
  justify-content: center;
}
